
@{
    ViewBag.Title = "Login";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            @*<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />*@
            <h3 class="text-center" style="color:cornflowerblue">GİRİŞ</h3>
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="KAdi" class="fadeIn second" name="login" placeholder="Kullanıcı Adı">
            <input type="text" id="Pwd" class="fadeIn third" name="login" placeholder="Şifre">
            <input type="submit" class="fadeIn fourth" value="Giriş">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/Home/Register">Hesabınız Yok Mu?</a>
        </div>

    </div>
</div>
