
@{
    ViewBag.Title = "Register";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            @*<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />*@
            <h3 class="text-center" style="color:cornflowerblue">KAYIT OL</h3>

        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="Ad" class="fadeIn second" name="Ad" placeholder="Adınınz">
            <input type="text" id="Soyad" class="fadeIn third" name="login" placeholder="Soyadınız">
            <input type="text" id="KAdi" class="fadeIn third" name="login" placeholder="Kullanıcı Adı">
            <input type="text" id="Tel" class="fadeIn third" name="login" placeholder="Telefon">
            <input type="text" id="Email" class="fadeIn third" name="login" placeholder="Email">
            <input type="text" id="Pwd" class="fadeIn third" name="login" placeholder="Şifre" />
            <input type="text" id="PwdAgain" class="fadeIn third" name="login" placeholder="Şifrenizi Tekrarlayın" />
            <input type="submit" class="fadeIn fourth" value="Kayıt Ol">
        </form>
       

    </div>
</div>

